<h1>This is the home page AKA. App component</h1>

<!-- <div style="display: flex; justify-content: space-between;"> -->
  <!--routes walata link harah navigate krnna widi dekk thiynwa , me plaweni widiya a tag eka athu;le routeLink attibute eka use krla yna widiya -->
  <!--routerLink attribute eka use krnna kalin app component.ts file eke api RouteModule eka import krgena thiyenna one -->
  <!-- <a routerLink="">Home</a>
  <a routerLink="second">Second page</a> -->

  <!--programatically yanna one nm menna me pahala widiyt yanna puluwan meka 2 weni krmaya -->
  <!-- <a href = "#" (click)="$event.preventDefault(); goToContacts()">Contact Us</a> -->

<!-- </div> -->

<router-outlet></router-outlet>